<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Author: Vinod Halaharvi</title>
  <script type="text/javascript" language="javascript" src="resources/media/js/jquery.js"></script>
  <style type="text/css" title="currentStyle">
	  @import "resources/media/css/demo_page.css";
	  @import "resources/media/css/jquery.dataTables.css";
	</style>
  <style type="text/css">
	#inputdiv, #outputdiv {
	  left: 0;
	  margin: auto;
	  margin-top: 50px;
	  top: 50%;
	  width: 90%;
	}
  </style>
	<script type="text/javascript" language="javascript" src="resources/media/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf-8">
  
  //take data from search box and pass it to  server
  //get form back from server and display
  $(document).ready(function() {
	var data =  [
	  "ps command server",
	  "start server",
	  "stop server",
	  "restart server",
	  "dump server",
	  "status server",
	  "get server config file",
	  "sync server config file",
	  "serverConfig getConfig",
	  "serverConfig setConfig",
	  "user list",
	  "user changePassword",
	  "user sync",
	  "user create",
	  "user delete",
	  "resource getResourcePrototypes",
	  "resource getResourcePrototype",
	  "resource get",
	  "resource find",
	  "resource sync",
	  "resource delete",
	  "resource move",
	  "alertdefinition listDefinitions",
	  "alertdefinition listTypeDefinitions",
	  "alertdefinition delete",
	  "metric getTemplates",
	  "metric syncTemplates",
	  "metric getMetricTemplate",
	  "metric getMetrics",
	  "metric syncMetrics",
	  "metric getMetric",
	  "metric getData",
	  "metric getGroupData",
	  "metric getResourceData",
	  "agent get",
	  "agent ping",
	  "autodiscovery approve",
	  "maintenance get",
	  "maintenance schedule",
	  "maintenance unschedule",
	  "escalation get",
	  "escalation delete",
	  "group get",
	  "group list",
	  "group delete",
	  "role get",
	  "role delete",
	  "alert getLastAlertFixedBy",
	  "alert find",
	  "alert findByResource",
	  "alert ack",
	  "alert fix",
	  "alert delete",
	  "metricData get",
	  "metricData getLast",
	  "metricData getMulti",
	  "metricData getMultiLast",
	  "event find",
	  "event findByResource",
	  "control actions",
	  "control history",
	  "control execute",
	  "application delete",
	  "sql serverResources",
	]; 
	var filter = function (text) {
		var result = [];
		for (var i = 0; i < data.length; i++) {
			if (data[i].indexOf(text) > -1){ 
				result.push(data[i] + "<br>"); 
				console.log("added to the result " + data[i]);
			};
		};
		return result;
	};

	//when a key is pressed
  	$('#input').keyup(function(event){
		if (event.which == 13){
		       event.preventDefault();
		       $.ajax({
			       url: 'applogic',
			       dataType: 'html',
			       data: ({'searchValue' : $(this).val()}),
			       contentType: "application/x-www-form-urlencoded",
			       context: 'document.body.outputdiv',
			       async:false,
			       type:'GET',
			       success: function(html){
					 $('form#target').html(html);
				 },  // success
			       error: function(data){
				  $('form#target').html(data);
			       }, //error 
		       }); //ajax
		       } else {
				var result = filter($(this).val());
				document.getElementById("target").innerHTML = result.join(" ");
		       }
		event.preventDefault();
      }); //keypress
  });  //end of document
  </script>
  </head>
  <body>

    <div id="inputdiv" align="center">
      <fieldset id="Hyperic Search">
	<img src="resources/media/images/Hyperic_Search.jpg" width="300" height="50" alt="" />
      	<legend>Vinod Halaharvi ©  2015</legend>
	<input type="text" id="input" cols="30" rows="10" name="input/">
      </fieldset>
    </div>

    <div id="outputdiv" align="center">
	    <div id="target_table"></div>
	    <form id="target" ></form><p></p>
	    <div>
	      <fieldset id="Hyperic Search">
		  <legend><strong>Server Response (If any)</strong></legend>
		  <textarea id="target_textarea" ></textarea>
	      </fieldset>

	    </div>
    </div>
        
   <script type="text/javascript">
   //when form is submitted
   //get database and display
  	$('form#target').submit(function(event){
		   $.ajax({
			    url: 'applogic/',
			    dataType: 'html',
			    data: ($(this).serialize()),
			    contentType: "application/x-www-form-urlencoded",
			    context: 'document.body.outputdiv',
			    async:false,
			    type:'POST',
			    success: function(data){
				    //$('#target_table').html(data);
				    $('textarea#target_textarea').html(data);
			      },  //success
			    error: function(data){
				    //$('#target_table').html(data);
				    $('textarea#target_textarea').html(data);
			    }, //error
		    }); //ajax
		    return false;
  	}); //submit
    
   </script>
   
   <script type="text/javascript">
	    //	$('#button').click(function(){
	    //	    $("#table").dataTable()
	    //	  }); 
   </script>
  <br />
  <br />
  <br />
  <div align="center">
  	<form action="/logout"><input type="submit" name="submit" value="logout" /></form>
  </div>
  <div class="error"></div>
  <script type="text/javascript" charset="utf-8">
  </script>
  </body>
</html>
